@using DataAccess.Models;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CryptoManagementCenter</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CryptoManagementCenter.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
</head>
<body>
    <button id="sidebar-toggle" class="btn btn-dark">
        <i class="fa fa-bars"></i>
    </button>
    <header id="sidebar" class="sidebar-open">
        <div class="sidebar-top">
            <div class="logo">
                <i class="fa-solid fa-coins fa-2x"></i>
            </div>
            <div class="application-name">
                <h6>
                    Crypto management center
                </h6>
            </div>
        </div>
        <nav>
            <ul>
                <li>
                    <a asp-controller="Home" asp-action="Index">
                        <span>
                            <i class="fa-solid fa-house"></i>
                        </span>
                        <span>
                            Home
                        </span>
                    </a>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li>
                        <a asp-controller="NewProject" asp-action="Index">
                            <span>
                                <i class="fa-solid fa-plus"></i>
                            </span>
                            <span>
                                New project
                            </span>
                        </a>
                    </li>
                }
                <li>

                    <a asp-controller="Home" asp-action="Privacy">
                        <span>
                            <i class="fa-solid fa-fingerprint"></i>
                        </span>
                        <span>
                            Privacy
                        </span>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <div id="content">
        <div id="top-bar">
            <nav class="navbar navbar-expand-lg topbar-nav d-flex justify-content-between">
                <div class="breadcumbs">
                    <div class="breadcumbs-route">
                        <ol>
                            <li>
                                <a href="@Url.Action("Index","Home")">
                                    <i class="fa-solid fa-house"></i>
                                </a>
                            </li>
                            @if (ViewData["Breadcrumbs"] != null)
                            {
                                List<BreadcrumbsModel>? breadcumbs = ViewData["Breadcrumbs"] as List<BreadcrumbsModel>;
                                foreach (BreadcrumbsModel breadcrumb in breadcumbs)
                                {
                                    <li>
                                        <a href="@Url.Action($"{breadcrumb.Action}",$"{breadcrumb.Controller}")">
                                            @breadcrumb.Name
                                        </a>
                                    </li>
                                }
                            }
                        </ol>
                    </div>
                    <div>
                        <h4>@ViewData["Title"]</h4>
                    </div>
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="button-style" asp-controller="Home" asp-action="Logout">
                        Log out
                    </a>
                }
                else
                {
                    <a class="button-style" asp-controller="Home" asp-action="Login">
                        Log in
                    </a>
                }
            </nav>
        </div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    @*     <footer class="border-top footer text-muted">
    <div class="container">
    &copy; 2024 - CryptoManagementCenter - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        document.getElementById("sidebar-toggle").addEventListener('click', () => {
            const sidebar = document.getElementById("sidebar");

            if (sidebar.classList.contains("sidebar-open")) {
                sidebar.classList.remove("sidebar-open")
                sidebar.classList.add("sidebar-close")
            } else {
                sidebar.classList.remove("sidebar-close")
                sidebar.classList.add("sidebar-open")
            }
        })
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
